body {
  background-color: #000040;
  font-family: Rubik;
  margin: 0 30px;
  color: #ffffff;
}

header {
  display: grid;
  grid-template-columns: 28px auto;
  align-items: center;
  padding: 0;
  margin: 40px 0 20px 0;
  width: 368px;
  column-gap: 110px;
}

header p {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.date {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B9B2C4;
  margin: 0 0 15px 0;
  justify-content: flex-end;
}

.date img {
  margin-left: 10px;
}

.schedule-main {
  display: grid;
  grid-template-rows: 196px 20px;
  row-gap: 20px;
  margin: 0;
}

.image {
  background-image: url(analyze-img/Schedule.png);
  width: 368px;
  height: 196px;
  z-index: -1;
}

.price {
  background-image: url(analyze-img/price.png);
  width: 66px;
  height: 30px;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
  margin: 45px 151px 0;
}

.border {
  mix-blend-mode: soft-light;
  border-radius: 11px;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
  width: 66px;
  height: 30px;
  position: absolute;
}

.noise2 {
  background-image: url(analyze-img/noise2.png);
  mix-blend-mode: soft-light;
  width: 66px;
  height: 30px;
  position: absolute;
  border-radius: 10px;
  opacity: 0.2;
}

.price p {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin: 0;
  padding: 8px 0;
}

.pointer {
  margin: 81px 177px 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #E42BC9;
  box-shadow: 0px 4px 12px rgba(50, 16, 103, 0.7);
}

.pointer .border {
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.months {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #B9B2C4;
  height: 19px;
}

.balance {
  width: 151px;
  height: 65px;
  margin: 32px 103px;
  text-align: center;
  color: #B9B2C4;
  font-weight: 400;
  font-size: 16px;
}

.balance h1 {
  margin: 8px 0 0 0;
  color: #ffffff;
}

p {
  margin: 0;
}

.title {
  display: grid;
  grid-template-columns: 310px 58px;
  margin: 0 0 20px;
  padding: 0;
}

.title h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.transaction p {
  color: #B9B2C4;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.tr-main {
  display: grid;
  grid-template-rows: repeat(4, 55px);
  row-gap: 10px;
  padding: 0;
  margin: 0;
  align-items: center;
}

.tr-main div {
  display: grid;
  grid-template-columns: 55px 203px 80px;
  margin: 0;
  padding: 0;
  column-gap: 15px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B9B2C4;
}

.tr-main div b {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.tr-main div :nth-child(3) {
  text-align: right;
}

.tab_bar {
  display: grid;
  grid-template-columns: repeat(2, 48px) 60px repeat(2, 48px);
  margin: 32px 0 35px;
  padding: 0 31px;
  column-gap: 14px;
  border-radius: 40px;
  align-items: center;
  background: linear-gradient(180deg, #20204D 0%, #1D1D55 100%);
  height: 66px;
  border: 3px solid #2F2D63;
}

.tab_bar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.plus {
  border-radius: 70px;
  background-image: url(backround5.png);
  width: 60px;
  height: 60px;
}

.plus img {
  margin: 18px;
}

.plus .border {
  mix-blend-mode: screen;
  opacity: 1;
  border-radius: 70px;
  outline: 3px solid #2F2D63;
  outline-offset: -3px;
  width: 60px;
  height: 60px;
}

.plus .border2 {
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(180deg, rgba(32, 32, 77, 0.2) 0%, rgba(29, 29, 85, 0.2) 100%);
  mix-blend-mode: multiply;
  border-radius: 70px;
  z-index: -1;
}

.noise {
  background-image: url(Noise.png);
  mix-blend-mode: soft-light;
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 70px;
}