body {
  background-color: #000040;
  font-family: Rubik;
  margin: 0 30px;
  color: #ffffff;
}

header {
  display: grid;
  grid-template-columns: 3fr auto;
  padding: 0px;
  height: 60px;
  padding: 0;
  margin: 30px 0 20px;
}

header img {
  width: 60px;
  height: 60px;
}

header p {
  margin: 28px 0 0 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  vertical-align: bottom;
}

.balance {
  width: 151px;
  height: 65px;
  margin: 50px 0;
  color: #B9B2C4;
  font-weight: 400;
  font-size: 16px;
}

.balance h1 {
  margin: 8px 0 0 0;
  color: #ffffff;
}

p {
  margin: 0;
}

.cards {
  transform: rotate(-90deg);
  width: 468px;
  height: 468px;
}

.card {
  background-image: url(cards-img/background1.png);
  backdrop-filter: blur(115px);
  border-radius: 51px;
  width: 468px;
  height: 293px;
  position: absolute;
  z-index: -1;
}

.border {
  mix-blend-mode: screen;
  opacity: 0.5;
  border-radius: 51px;
  outline: 4px solid #2F2D63;
  outline-offset: -4px;
  width: 468px;
  height: 293px;
  position: absolute;
}

.border2 {
  position: absolute;
  width: 468px;
  height: 293px;
  background: linear-gradient(180deg, rgba(32, 32, 77, 0.2) 0%, rgba(29, 29, 85, 0.2) 100%);
  mix-blend-mode: multiply;
  border-radius: 51px;
  z-index: -1;
}

.noise {
  background-image: url(Noise.png);
  mix-blend-mode: soft-light;
  width: 468px;
  height: 293px;
  position: absolute;
}

.cards-main {
  display: grid;
  padding: 115px 46px 33px;
  grid-template-rows: 107px 29px;
  grid-template-columns: 322px 54px;
  row-gap: 8px;
  align-items: center;
}

.card-number {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  margin: 90px 0 0;
}

.card-date {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.vector {
  margin: 0 0 53px 23px;
}

.card2 {
  margin-top: 16px;
}

.pointers {
  margin: 40px 160px 0;
  height: 10px;
  width: 54px;
  display: grid;
  grid-template-columns: repeat(3, 10px);
  column-gap: 12px;
}

.pointer {
  border-radius: 50%;
  background: #1F1F4E;
  box-shadow: 0px 4px 12px rgba(50, 16, 103, 0.7);
}

.pointer-active {
  border-radius: 50%;
  background: #2680B8;
  box-shadow: 0px 4px 12px rgba(50, 16, 103, 0.7);
}

.pointers .border {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  mix-blend-mode: soft-light;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

.tab_bar {
  display: grid;
  grid-template-columns: repeat(2, 48px) 60px repeat(2, 48px);
  margin: 40px 0;
  padding: 0 31px;
  column-gap: 14px;
  border-radius: 40px;
  align-items: center;
  background: linear-gradient(180deg, #20204D 0%, #1D1D55 100%);
  height: 66px;
  border: 3px solid #2F2D63;
}

.tab_bar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.plus {
  border-radius: 70px;
  background-image: url(backround5.png);
  width: 60px;
  height: 60px;
}

.plus img {
  margin: 18px;
}

.plus .border {
  mix-blend-mode: screen;
  opacity: 1;
  border-radius: 70px;
  outline: 3px solid #2F2D63;
  outline-offset: -3px;
  width: 60px;
  height: 60px;
}

.plus .border2 {
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(180deg, rgba(32, 32, 77, 0.2) 0%, rgba(29, 29, 85, 0.2) 100%);
  mix-blend-mode: multiply;
  border-radius: 70px;
  z-index: -1;
}

.plus .noise {
  background-image: url(Noise.png);
  mix-blend-mode: soft-light;
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 70px;
}