body {
  background-color: #000040;
  font-family: Rubik;
  margin: 0 30px;
  color: #ffffff;
}

header {
  display: grid;
  grid-template-columns: 3fr auto;
  padding: 0px;
  height: 60px;
  padding: 0;
  margin: 30px 0 20px;
}

header img {
  width: 60px;
  height: 60px;
}

header p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B9B2C4;
}

header p b {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.card {
  background-image: url(backround.png);
  backdrop-filter: blur(90px);
  border-radius: 40px;
  width: 368px;
  height: 230px;
  position: absolute;
  z-index: -1;
}

.border {
  mix-blend-mode: screen;
  opacity: 0.5;
  border-radius: 40px;
  outline: 3px solid #2F2D63;
  outline-offset: -3px;
  width: 368px;
  height: 230px;
  position: absolute;
}

.border2 {
  position: absolute;
  width: 368px;
  height: 230px;
  background: linear-gradient(180deg, rgba(32, 32, 77, 0.2) 0%, rgba(29, 29, 85, 0.2) 100%);
  mix-blend-mode: multiply;
  border-radius: 40px;
  z-index: -1;
}

.noise {
  background-image: url(Noise.png);
  mix-blend-mode: soft-light;
  width: 368px;
  height: 230px;
  position: absolute;
}

.card-main {
  display: grid;
  padding: 40px 30px 30px;
  grid-template-rows: 111px 19px 14px;
  row-gap: 8px;
}

.card-main h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  margin: 0;
}

.card-number {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}

.card-date {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.card-main p {
  margin: 0;
}

.vector {
  position: absolute;
  margin: 60px 0 0 280px;
}

.master {
  position: absolute;
  margin: 138px 0 0 262px;
}

.functions {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  column-gap: 16px;
  margin: 20px 0 34px;
  padding: 0;
  height: 105px;
}

.fun {
  display: grid;
  grid-template-rows: 80px 20px;
  row-gap: 6px;
  align-items: center;
  border-radius: 25px;
}

.functions img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  mix-blend-mode: overlay;
}

.fun .noise, .fun .border, .fun .border2 {
  width: 80px;
  height: 80px;
  border-radius: 25px;
}

.fun p, .functions a {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #ffffff;
}

.fun.analyze {
  background-image: url(backround1.png);
  width: 80px;
  height: 80px;
}

.fun.calendar {
  background-image: url(backround2.png);
  width: 80px;
  height: 80px;
}

.fun.document {
  background-image: url(backround3.png);
  width: 80px;
  height: 80px;
}

.fun.collect {
  background-image: url(backround4.png);
  width: 80px;
  height: 80px;
}

.title {
  display: grid;
  grid-template-columns: 310px 58px;
  margin: 0 0 20px;
  padding: 0;
}

.title h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.transaction p {
  color: #B9B2C4;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.tr-main {
  display: grid;
  grid-template-rows: repeat(4, 55px);
  row-gap: 10px;
  padding: 0;
  margin: 0;
  align-items: center;
}

.tr-main div {
  display: grid;
  grid-template-columns: 55px 203px 80px;
  margin: 0;
  padding: 0;
  column-gap: 15px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B9B2C4;
}

.tr-main div b {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.tr-main div :nth-child(3) {
  text-align: right;
}

.tab_bar {
  display: grid;
  grid-template-columns: repeat(2, 48px) 60px repeat(2, 48px);
  margin: 17px 0 35px;
  padding: 0 31px;
  column-gap: 14px;
  border-radius: 40px;
  align-items: center;
  background: linear-gradient(180deg, #20204D 0%, #1D1D55 100%);
  height: 66px;
  border: 3px solid #2F2D63;
}

.tab_bar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.plus {
  border-radius: 70px;
  background-image: url(backround5.png);
  width: 60px;
  height: 60px;
}

.plus .noise, .plus .border, .plus .border2 {
  width: 60px;
  height: 60px;
  border-radius: 70px;
}

.plus .border {
  opacity: 1;
}

.plus img {
  margin: 18px;
}